/* styles.css */

/* Define the color palette using CSS variables */
:root {
    --primary-color: #000061;    
    --secondary-color: #f9f9f8;    
    --text-color: #101828;    
  }


/* Global styles */
body {
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-family: Montserrat;
    margin: auto;
    padding: auto;
    text-align: center;
  }


  @media (max-width: 768px) {
    .container {
      width: 100%;
      padding: 10px;
    }
  }

  @media (max-width: 468px) {
    .container {
      width: 50%;
      padding: 10px;
    }
  }